<div class="standard-page-container">
  <div class="accounts">
    <div class="top-sticky-row">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <div class="primary-breadcrumb" jhiTranslate="{{ title() }}">{{ title() }}</div>
          </div>
        </div>
        <div class="col">
          <ul class="filter-toggle-list float-right">
            <li>
              <a class="filter-toggle" [class.filter-toggle-selected]="!filterBanking()" (click)="toggleFilterBanking()">Banking</a>
            </li>
            <li>
              <a class="filter-toggle" [class.filter-toggle-selected]="!filterLoans()" (click)="toggleFilterLoans()">Loan & Liabilities</a>
            </li>
            <li>
              <a class="filter-toggle" [class.filter-toggle-selected]="!filterCredit()" (click)="toggleFilterCredit()">Credit</a>
            </li>
            <li>
              <a class="filter-toggle" [class.filter-toggle-selected]="!filterInvestment()" (click)="toggleFilterInvestment()"
                >Investments</a
              >
            </li>
            <li>
              <a class="filter-toggle" [class.filter-toggle-selected]="!filterAssets()" (click)="toggleFilterAssets()">Assets</a>
            </li>
            <li>
              <label class="account-closed-switch">
                <span>{{ showClosedAccounts() ? 'Open + Closed' : 'Open only' }}</span>
                <p-toggleSwitch [ngModel]="showClosedAccounts()" (ngModelChange)="setShowClosedAccounts($event)"></p-toggleSwitch>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row m-t">
      <div class="col" *ngIf="!filterBanking()">
        <div class="account-group">
          <div class="account-group-header">
            <fa-icon
              [class.collapsable-button--is-open]="!expandedBanking()"
              class="collapsable-button"
              [icon]="'angle-down'"
              [fixedWidth]="true"
              style="margin-right: 6px"
              (click)="toggleExpandedBanking()"
            ></fa-icon>

            <div role="gridcell" class="" style="flex-grow: 1">Banking</div>
            <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="bankSum() < 0">{{ bankSum() | currency }}</div>
          </div>
          <ul class="account-card-holder" *ngIf="expandedBanking()">
            <!-- [style.overflow]="!expandedBanking ? 'hidden': 'visible' "  [style.height]="!expandedBanking ? '0px': 'auto' " [style.padding-bottom]="!expandedBanking ? '0': 'inherit' "-->
            <div *ngIf="onlyBankAccounts().length === 0">
              <li class="account-card">
                <div role="gridcell" class="" style="flex-grow: 0">None</div>
              </li>
            </div>
            <li *ngFor="let account of onlyBankAccounts()" class="account-card">
              <div role="gridcell" class="" style="flex-grow: 0" *ngIf="account.institution?.icon">
                {{ account.institution?.name }}
              </div>
              <button
                type="button"
                class="account-favourite-button"
                [class.account-favourite-button--active]="account.favourite"
                [title]="favouriteTitle(account)"
                (click)="toggleFavourite(account)"
              >
                {{ account.favourite ? '★' : '☆' }}
              </button>
              <div role="gridcell" class="" style="flex-grow: 1">
                <a routerLink="/transactions/{{ account.id }}">{{ account.name }}</a>
                <span *ngIf="account.closed" class="account-status-tag">Closed</span>
              </div>
              <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="account.balance < 0">
                <div *ngIf="!account.fxRateToLocal">
                  <span *ngIf="account.currencyCode === 'USD'">US</span
                  >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                </div>
                <div
                  *ngIf="account.fxRateToLocal"
                  class="hovertext"
                  pTooltip="{{ account.balance * account.fxRateToLocal | currency: 'AUD' : 'symbol-narrow' }}"
                  tooltipPosition="bottom"
                >
                  <span *ngIf="account.currencyCode === 'USD'">US</span
                  >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col" *ngIf="!filterCredit() || !filterLoans()">
        <div *ngIf="!filterLoans()">
          <div class="account-group">
            <div class="account-group-header">
              <fa-icon
                [class.collapsable-button--is-open]="!expandedLoans()"
                class="collapsable-button"
                [icon]="'angle-down'"
                [fixedWidth]="true"
                style="margin-right: 6px"
                (click)="toggleExpandedLoans()"
              ></fa-icon>

              <div role="gridcell" class="" style="flex-grow: 1">Loans & Liabilities</div>
              <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="bankSum() < 0">
                {{ liabilitySum() | currency }}
              </div>
            </div>
            <ul class="account-card-holder" *ngIf="expandedLoans()">
              <div *ngIf="onlyLiabilityAccounts().length === 0">
                <li class="account-card">
                  <div role="gridcell" class="" style="flex-grow: 0">None</div>
                </li>
              </div>
              <li *ngFor="let account of onlyLiabilityAccounts()" class="account-card">
                <div role="gridcell" class="" style="flex-grow: 0" *ngIf="account.institution?.icon">
                  {{ account.institution?.name }}
                </div>
                <button
                  type="button"
                  class="account-favourite-button"
                  [class.account-favourite-button--active]="account.favourite"
                  [title]="favouriteTitle(account)"
                  (click)="toggleFavourite(account)"
                >
                  {{ account.favourite ? '★' : '☆' }}
                </button>
                <div role="gridcell" class="" style="flex-grow: 1">
                  <a routerLink="/transactions/{{ account.id }}">{{ account.name }}</a>
                  <span *ngIf="account.closed" class="account-status-tag">Closed</span>
                </div>
                <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="account.balance < 0">
                  <div *ngIf="!account.fxRateToLocal">
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                  </div>
                  <div
                    *ngIf="account.fxRateToLocal"
                    class="hovertext"
                    pTooltip="{{ account.balance * account.fxRateToLocal | currency: 'AUD' : 'symbol-narrow' }}"
                    tooltipPosition="bottom"
                  >
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                  </div>
                </div>
                <!-- <div role="gridcell" class="" style="flex-grow: 0;" [class.negative-value]="account.balance < 0">
                                    {{account.balance|currency:account.currencyCode:'symbol-narrow'}}</div> -->
              </li>
            </ul>
          </div>
        </div>
        <br />
        <div *ngIf="!filterCredit()">
          <div class="account-group">
            <div class="account-group-header">
              <fa-icon
                [class.collapsable-button--is-open]="!expandedCredit()"
                class="collapsable-button"
                [icon]="'angle-down'"
                [fixedWidth]="true"
                style="margin-right: 6px"
                (click)="toggleExpandedCredit()"
              ></fa-icon>

              <div role="gridcell" class="" style="flex-grow: 1">Credit</div>
              <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="creditSum() < 0">{{ creditSum() | currency }}</div>
            </div>
            <ul class="account-card-holder" *ngIf="expandedCredit()">
              <div *ngIf="onlyCreditAccounts().length === 0">
                <li class="account-card">
                  <div role="gridcell" class="" style="flex-grow: 0">None</div>
                </li>
              </div>
              <li *ngFor="let account of onlyCreditAccounts()" class="account-card">
                <div role="gridcell" class="" style="flex-grow: 0" *ngIf="account.institution?.icon">
                  {{ account.institution?.name }}
                </div>
                <button
                  type="button"
                  class="account-favourite-button"
                  [class.account-favourite-button--active]="account.favourite"
                  [title]="favouriteTitle(account)"
                  (click)="toggleFavourite(account)"
                >
                  {{ account.favourite ? '★' : '☆' }}
                </button>
                <div role="gridcell" class="" style="flex-grow: 1">
                  <a routerLink="/transactions/{{ account.id }}">{{ account.name }}</a>
                  <span *ngIf="account.closed" class="account-status-tag">Closed</span>
                </div>

                <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="account.balance < 0">
                  <div *ngIf="!account.fxRateToLocal">
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                  </div>
                  <div
                    *ngIf="account.fxRateToLocal"
                    class="hovertext"
                    pTooltip="{{ account.balance * account.fxRateToLocal | currency: 'AUD' : 'symbol-narrow' }}"
                    tooltipPosition="bottom"
                  >
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                  </div>
                </div>
                <!-- <div role="gridcell" class="" style="flex-grow: 0;" [class.negative-value]="account.balance < 0">
                                    {{account.balance|currency:account.currencyCode:'symbol-narrow'}}</div> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="!filterInvestment() || !filterAssets()">
        <div *ngIf="!filterInvestment()">
          <div class="account-group">
            <div class="account-group-header">
              <fa-icon
                [class.collapsable-button--is-open]="!expandedInvestment()"
                class="collapsable-button"
                [icon]="'angle-down'"
                [fixedWidth]="true"
                style="margin-right: 6px"
                (click)="toggleExpandedInvestment()"
              ></fa-icon>
              <div role="gridcell" class="" style="flex-grow: 1"><a routerLink="/portfolio">Investment</a></div>
              <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="bankSum() < 0">
                {{ investmentSum() | currency }}
              </div>
            </div>
            <ul class="account-card-holder" *ngIf="expandedInvestment()">
              <div *ngIf="onlyInvestmentAccounts().length === 0">
                <li class="account-card">
                  <div role="gridcell" class="" style="flex-grow: 0">None</div>
                </li>
              </div>
              <li *ngFor="let account of onlyInvestmentAccounts()" class="account-card">
                <div role="gridcell" class="" style="flex-grow: 0" *ngIf="account.institution?.icon">
                  {{ account.institution?.name }}
                </div>
                <button
                  type="button"
                  class="account-favourite-button"
                  [class.account-favourite-button--active]="account.favourite"
                  [title]="favouriteTitle(account)"
                  (click)="toggleFavourite(account)"
                >
                  {{ account.favourite ? '★' : '☆' }}
                </button>
                <div role="gridcell" class="" style="flex-grow: 1">
                  <a routerLink="/portfolio/{{ account.id }}">{{ account.name }}</a>
                  <span *ngIf="account.closed" class="account-status-tag">Closed</span>
                </div>
                <!-- <div role="gridcell" class="" style="flex-grow: 0;" [class.negative-value]="account.balance < 0">
                                    {{account.balance|currency:account.currencyCode:'symbol-narrow'}}
                                    <span *ngIf="account.balanceWarning"><fa-icon [icon]="['fas','circle-exclamation']"  title="{{account.balanceWarning}}"></fa-icon></span>
                                </div> -->
                <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="account.balance < 0">
                  <div *ngIf="!account.fxRateToLocal">
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                  </div>
                  <div
                    *ngIf="account.fxRateToLocal"
                    class="hovertext"
                    pTooltip="{{ account.balance * account.fxRateToLocal | currency: 'AUD' : 'symbol-narrow' }}"
                    tooltipPosition="bottom"
                  >
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                    <span *ngIf="account.balanceWarning"
                      ><fa-icon [icon]="['fas', 'circle-exclamation']" title="{{ account.balanceWarning }}"></fa-icon
                    ></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <br />
        <div *ngIf="!filterAssets()">
          <div class="account-group">
            <div class="account-group-header">
              <fa-icon
                [class.collapsable-button--is-open]="!expandedAssets()"
                class="collapsable-button"
                [icon]="'angle-down'"
                [fixedWidth]="true"
                style="margin-right: 6px"
                (click)="toggleExpandedAssets()"
              ></fa-icon>
              <div role="gridcell" class="" style="flex-grow: 1">Assets</div>
              <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="bankSum() < 0">{{ assetSum() | currency }}</div>
            </div>
            <ul class="account-card-holder" *ngIf="expandedAssets()">
              <div *ngIf="onlyAssetAccounts().length === 0">
                <li class="account-card">
                  <div role="gridcell" class="" style="flex-grow: 0">None</div>
                </li>
              </div>
              <li *ngFor="let account of onlyAssetAccounts()" class="account-card">
                <div role="gridcell" class="" style="flex-grow: 0" *ngIf="account.institution?.icon">
                  {{ account.institution?.name }}
                </div>
                <button
                  type="button"
                  class="account-favourite-button"
                  [class.account-favourite-button--active]="account.favourite"
                  [title]="favouriteTitle(account)"
                  (click)="toggleFavourite(account)"
                >
                  {{ account.favourite ? '★' : '☆' }}
                </button>
                <div role="gridcell" class="" style="flex-grow: 1">
                  <a routerLink="/transactions/{{ account.id }}">{{ account.name }}</a>
                  <span *ngIf="account.closed" class="account-status-tag">Closed</span>
                </div>
                <!-- <div role="gridcell" class="" style="flex-grow: 0;" [class.negative-value]="account.balance < 0">
                                    {{account.balance|currency:account.currencyCode:'symbol-narrow'}}</div> -->
                <div role="gridcell" class="" style="flex-grow: 0" [class.negative-value]="account.balance < 0">
                  <div *ngIf="!account.fxRateToLocal">
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                  </div>
                  <div
                    *ngIf="account.fxRateToLocal"
                    class="hovertext"
                    pTooltip="{{ account.balance * account.fxRateToLocal | currency: 'AUD' : 'symbol-narrow' }}"
                    tooltipPosition="bottom"
                  >
                    <span *ngIf="account.currencyCode === 'USD'">US</span
                    >{{ account.balance | currency: account.currencyCode : 'symbol-narrow' }}
                    <span *ngIf="account.balanceWarning"
                      ><fa-icon [icon]="['fas', 'circle-exclamation']" title="{{ account.balanceWarning }}"></fa-icon
                    ></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer *ngIf="false" class="page-footer">
  <div class="accout-list-footer container-fluid">
    <!-- <div style="flex-grow: 0; text-align: right; display:flex;"><div class="sub-total-header">Total Cash:</div> <div class="sub-total-value account-sum"  [class.negative-value]="totalCashSum < 0">{{totalCashSum|currency}}</div>
    </div>
    <div style="flex-grow: 0;"></div>
    <div style="flex-grow: 1; text-align: right; display:flex;"><div class="sub-total-header">Total Liabilities & Loans:</div> <div class="sub-total-value account-sum"  [class.negative-value]="totalLiabilitiesSum < 0">{{totalLiabilitiesSum|currency}}</div>
    </div>
    <div style="flex-grow: 0;"></div>
    <div style="flex-grow: 1; text-align: right; display:flex;"><div class="sub-total-header">Total (without assets):</div> <div class="sub-total-value account-sum"  [class.negative-value]="totalSumWithoutAssets < 0">{{totalSumWithoutAssets|currency}}</div>
    </div>
    <div style="flex-grow: 0;"></div>
    <div style="flex-grow: 1; text-align: right; display:flex;"><div class="sub-total-header">Total:</div> <div class="sub-total-value account-sum"  [class.negative-value]="totalSum < 0">{{totalSum|currency}}</div>
    </div> -->
    <div class="row">
      <div class="col" style="display: flex">
        <div class="sub-total-header">Total Cash:</div>
        <div class="sub-total-value account-sum" [class.negative-value]="totalCashSum() < 0">{{ totalCashSum() | currency }}</div>
      </div>

      <div class="col" style="display: flex">
        <div class="sub-total-header">Total Liabilities & Loans:</div>
        <div class="sub-total-value account-sum" [class.negative-value]="totalLiabilitiesSum() < 0">
          {{ totalLiabilitiesSum() | currency }}
        </div>
      </div>
      <div class="col" style="display: flex">
        <div class="sub-total-header">Total (without assets):</div>
        <div class="sub-total-value account-sum" [class.negative-value]="totalSumWithoutAssets() < 0">
          {{ totalSumWithoutAssets() | currency }}
        </div>
      </div>
      <div class="col" style="display: flex">
        <div class="sub-total-header">Total:</div>
        <div class="sub-total-value account-sum" [class.negative-value]="totalSum() < 0">{{ totalSum() | currency }}</div>
      </div>
    </div>
  </div>
</footer>
