<p-dialog
  [header]="name"
  [modal]="true"
  [(visible)]="visible"
  (onShow)="onShow()"
  (onMaximize)="onMaximize()"
  [style]="{ width: '90vw', height: '80vh' }"
  styleClass="history-chart-dialog"
  [maximizable]="true"
  [appendTo]="'body'"
>
  <div class="history-chart-dialog__body">
    <jhi-history-chart *ngIf="visible" #historyChart></jhi-history-chart>
  </div>
</p-dialog>
<!-- <div class="card flex justify-center" >

            <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-8">Update your information.</span>
                <div class="flex items-center gap-4 mb-4">
                    <label for="username" class="font-semibold w-24">Username</label>
                    <input pInputText id="username" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex items-center gap-4 mb-8">
                    <label for="email" class="font-semibold w-24">Email</label>
                    <input pInputText id="email" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex justify-end gap-2">
                    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                    <p-button label="Save" (click)="visible = false" />
                </div>
            </p-dialog>
        </div> -->
