<div class="standard-page-container transactions-container">
  <div class="transactions">
    <div class="top-sticky-row">
      <div class="row">
        <div class="col col-auto">
          <div class="breadcrumbs">
            <div class="primary-breadcrumb" style="padding-top: 4px" jhiTranslate="{{ title }}">{{ title }}</div>
          </div>
        </div>
        <div class="col-auto transactions-account-select-col">
          <p-select
            inputId="transactions-account-select"
            [options]="accounts!"
            [(ngModel)]="accountId"
            [filter]="true"
            filterBy="name"
            filterPlaceholder="Search accounts"
            optionLabel="name"
            optionValue="id"
            placeholder="Select account"
            [showClear]="true"
            appendTo="body"
            styleClass="transactions-account-select"
            panelStyleClass="transactions-account-select-panel"
            (onChange)="onChangeAccount($event)"
          ></p-select>
        </div>
        <div class="col" *ngIf="balance != -1 && balance != undefined">
          <br *ngIf="account?.currencyCode === 'AUD'" />
          <div class="transactions-balance float-right align-bottom">
            Balance: {{ balance | currency: account?.currencyCode : 'symbol-narrow' }}
          </div>
          <br *ngIf="account?.currencyCode !== 'AUD'" />
          <div class="transactions-balance float-right" *ngIf="account?.currencyCode !== 'AUD'">
            {{ adjustedBalanceForCurrency(balance) | currency: 'AUD' }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button to clear selection
    <button (click)="clearSelection()">Clear Selection</button> [rowData]="rowData$ | async"
    <button (click)="autoSize()">Auto size</button> -->
  <!-- AG Grid Angular Component -->

  <ag-grid-angular
    style="width: 100%; height: calc(100% - 44px)"
    class="m-t"
    [class.ag-theme-alpine]="theme === 'light'"
    [class.ag-theme-alpine-dark]="theme === 'dark'"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [animateRows]="true"
    [rowModelType]="rowModelType"
    (gridReady)="onGridReady($event)"
    (modelUpdated)="onModelUpdated($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
  <!-- [sideBar]="true" -->
</div>
