<div class="standard-page-container transactions-container">
  <div class="transactions">
    <div class="top-sticky-row">
      <div class="row">
        <div class="col col-auto">
          <div class="breadcrumbs">
            <div class="primary-breadcrumb" style="padding-top: 4px" jhiTranslate="{{ title }}">{{ title }}</div>
          </div>
        </div>
        <div class="col-auto transactions-account-select-col">
          <p-select
            inputId="transactions-account-select"
            [options]="accounts!"
            [(ngModel)]="accountId"
            [filter]="true"
            filterBy="name"
            filterPlaceholder="Search accounts"
            optionLabel="name"
            optionValue="id"
            placeholder="Select account"
            [showClear]="true"
            appendTo="body"
            styleClass="transactions-account-select"
            panelStyleClass="transactions-account-select-panel"
            (onChange)="onChangeAccount($event)"
          ></p-select>
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-outline-secondary transactions-filter-toggle"
            [attr.aria-pressed]="showFilterRow"
            [title]="showFilterRow ? 'Hide filter row' : 'Show filter row'"
            (click)="toggleFilterRow()"
          >
            <fa-icon icon="filter"></fa-icon>
          </button>
        </div>
        <div class="col-auto">
          <div ngbDropdown [autoClose]="'outside'">
            <button
              type="button"
              class="btn btn-outline-secondary transactions-columns-toggle"
              ngbDropdownToggle
              aria-label="Choose columns"
              title="Choose columns"
            >
              <fa-icon icon="th-list"></fa-icon>
            </button>
            <div ngbDropdownMenu class="transactions-columns-menu">
              <label class="transactions-columns-menu__item" *ngFor="let option of columnToggleOptions">
                <input
                  type="checkbox"
                  [checked]="isColumnVisible(option.id)"
                  (change)="toggleColumnVisibility(option.id, $any($event.target).checked)"
                />
                <span>{{ option.label }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-outline-secondary transactions-add-button"
            [disabled]="!accountId || !account"
            (click)="openAddTransaction()"
          >
            <span class="transactions-add-button__icon">+</span>
            <span>Add</span>
          </button>
        </div>
        <div class="col" *ngIf="balance != -1 && balance != undefined">
          <br *ngIf="account?.currencyCode === 'AUD'" />
          <div class="transactions-balance float-right align-bottom">
            Balance: {{ balance | currency: account?.currencyCode : 'symbol-narrow' }}
          </div>
          <br *ngIf="account?.currencyCode !== 'AUD'" />
          <div class="transactions-balance float-right" *ngIf="account?.currencyCode !== 'AUD'">
            {{ adjustedBalanceForCurrency(balance) | currency: 'AUD' }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button to clear selection
    <button (click)="clearSelection()">Clear Selection</button> [rowData]="rowData$ | async"
    <button (click)="autoSize()">Auto size</button> -->
  <!-- AG Grid Angular Component -->

  <div class="transactions-workspace m-t" [class.transactions-workspace--editor-open]="isEditorOpen">
    <div class="transactions-grid">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        [theme]="agGridThemeDefinition"
        [loadThemeGoogleFonts]="true"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [rowModelType]="rowModelType"
        (gridReady)="onGridReady($event)"
        (modelUpdated)="onModelUpdated($event)"
        (cellClicked)="onCellClicked($event)"
      ></ag-grid-angular>
    </div>

    <aside class="transactions-editor-panel" *ngIf="isEditorOpen">
      <div class="transactions-editor-error" *ngIf="saveTransactionError">
        {{ saveTransactionError }}
      </div>
      <jhi-transaction-editor
        [transaction]="selectedTransaction"
        [mode]="editorMode"
        [currencyCode]="account?.currencyCode ?? 'AUD'"
        [currentAccountId]="accountId"
        [accounts]="transferAccountOptions"
        [readonlyReason]="getSelectedTransactionReadonlyReason()"
        [saving]="isSavingTransaction"
        (saveTransaction)="saveTransaction($event)"
        (newTransaction)="openAddTransaction()"
        (editTransaction)="openEditMode()"
        (cancelEditor)="closeEditor()"
      ></jhi-transaction-editor>
    </aside>
  </div>
  <!-- [sideBar]="true" -->
</div>
