.p-splitter {
  border: 0px solid #dee2e6;
  background-color: unset;
}

:host ::ng-deep .period-selector .p-togglebutton,
:host ::ng-deep .period-selector .p-togglebutton .p-button,
:host ::ng-deep .period-selector .p-togglebutton .p-button-label,
:host ::ng-deep .period-selector .p-selectbutton .p-button,
:host ::ng-deep .period-selector .p-selectbutton .p-button-label {
  font-size: 0.72rem !important;
}
