<div class="standard-page-container">
  <!-- <p-splitter [style]="{'height': '100%'}" layout="vertical" [panelSizes]="[30,70]" [minSizes]="[30,0]"
        (onResizeEnd)="panelResizeEnd()">
        <ng-template pTemplate>
            <gridster #gridster [options]="options" class="gridster-plat4m">
                <gridster-item [item]="item" *ngFor="let item of dashboard">
                    <app-parent-dynamic [widget]="item"></app-parent-dynamic>
                </gridster-item>
            </gridster>
        </ng-template>
        <ng-template pTemplate>

        </ng-template>
    </p-splitter> -->

  <div class="row m-t">
    <div class="col-sm">
      <div class="row">
        <div class="col"></div>
        <div class="col col-auto">
          <div class="float-right" style="display: flex; padding-top: 5px">
            <p-selectButton
              styleClass="period-selector"
              [options]="periods"
              [(ngModel)]="selectedPeriod"
              emptyMessage="All"
              optionLabel="name"
              (onChange)="onChangePeriod($event)"
            >
            </p-selectButton>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-splitter p-component p-splitter-vertical" style="height: 100%">
    <div class="p-splitter-panel p-splitter-panel-nested" style="flex-basis: 180px">
      <gridster #gridster [options]="options" class="gridster-plat4m">
        <gridster-item [item]="item" *ngFor="let item of dashboard" style="background-color: unset" (click)="onClick(item)">
          <!-- <app-parent-dynamic [widget]="item" [resizeEvent]="resizeEvent"></app-parent-dynamic> -->
        </gridster-item>
      </gridster>
    </div>

    <div *ngIf="selectedItem" class="p-splitter-panel p-splitter-panel-nested" style="flex-basis: calc(100% - 180px)">
      <!-- <ng-template pTemplate></ng-template> -->
      <apx-chart
        style="width: 100%"
        #historyChart
        [series]="historyChartOptions.series!"
        [chart]="historyChartOptions.chart!"
        [xaxis]="historyChartOptions.xaxis!"
        [yaxis]="historyChartOptions.yaxis!"
        [stroke]="historyChartOptions.options!.stroke!"
        [dataLabels]="historyChartOptions.options!.dataLabels!"
        [markers]="historyChartOptions.options!.markers!"
        [tooltip]="historyChartOptions.options!.tooltip!"
      ></apx-chart>
    </div>
  </div>
  <p-splitter> </p-splitter>

  <!-- <div class="p-splitter-gutter" ng-reflect-ng-style="[object Object]" style="height: 4px;">
            <div class="p-splitter-gutter-handle"></div>
        </div> -->

  <div class="row">
    <div class="col"></div>
  </div>
</div>
