<div class="row" *ngIf="widget">
  <div class="col">
    <div class="row">
      <div class="db-panel-title" *ngIf="widget.dataTypeSpecs[0] && widget.dataTypeSpecs[0].title">{{ widget.dataTypeSpecs[0].title }}</div>
    </div>
    <div class="row">
      <div class="col">
        <div *ngIf="isLoading || !widget.values" class="db-panel-primary-value">
          <p-skeleton></p-skeleton>
        </div>
        <div *ngIf="!isLoading && widget.values" class="db-panel-primary-value">
          <span *ngIf="!widget.value && widget.title">-</span
          ><span *ngIf="!widget.negativeAsPositive"> {{ widget.values[0] | currency: defaultCurrencyCode : 'symbol-narrow' : '0.0' }}</span>
          <span *ngIf="widget.negativeAsPositive">
            {{ widget.values[0] * -1 | currency: defaultCurrencyCode : 'symbol-narrow' : '0.0' }}</span
          >
        </div>
        <jhi-delta-value
          pTooltip="Was {{ widget.comparisonValues[0] | currency }}"
          tooltipPosition="top"
          *ngIf="!isLoading && widget.comparisonValues && widget.comparisonValues[0]"
          class="datawell-data-comparison float-right"
          [params]="{ value: widget.values[0], comparison: widget.comparisonValues[0], currencyCode: widget.currencyCode, pcOnly: true }"
        ></jhi-delta-value>
      </div>
    </div>
  </div>

  <div class="col" style="margin-left: 2px">
    <div *ngIf="widget.dataTypeSpecs && widget.dataTypeSpecs.length > 1">
      <div class="row">
        <div class="db-panel-minor-title" *ngIf="widget.dataTypeSpecs[1] && widget.dataTypeSpecs[1].title">
          {{ widget.dataTypeSpecs[1].title }}
        </div>
      </div>
      <div class="row">
        <div class="float-right">
          <div *ngIf="isLoading || !widget.values" class="db-panel-minor-value">
            <p-skeleton height="12px"></p-skeleton>
          </div>
          <div *ngIf="!isLoading && widget.values" class="float-right db-panel-minor-value">
            {{ widget.values[1] | currency: defaultCurrencyCode : 'symbol-narrow' : '0.0' }}
            &nbsp;
            <jhi-delta-value
              style="font-size: 8px !important"
              pTooltip="Was {{ widget.comparisonValues[1] | currency }}"
              tooltipPosition="top"
              *ngIf="!isLoading && widget.comparisonValues && widget.comparisonValues[1]"
              class="datawell-data-comparison float-right"
              [params]="{
                value: widget.values[1],
                comparison: widget.comparisonValues[1],
                currencyCode: widget.currencyCode,
                pcOnly: true,
              }"
            ></jhi-delta-value>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="widget.dataTypeSpecs && widget.dataTypeSpecs.length > 2">
      <div class="row">
        <div class="db-panel-minor-title" *ngIf="widget.dataTypeSpecs[2] && widget.dataTypeSpecs[2].title">
          {{ widget.dataTypeSpecs[2].title }}
        </div>
      </div>
      <div class="row">
        <div class="float-right">
          <div *ngIf="isLoading || !widget.values" class="db-panel-minor-value">
            <p-skeleton height="12px"></p-skeleton>
          </div>
          <div *ngIf="!isLoading && widget.values" class="float-right db-panel-minor-value">
            {{ widget.values[2] | currency: defaultCurrencyCode : 'symbol-narrow' : '0.0' }}
            &nbsp;
            <jhi-delta-value
              style="font-size: 8px !important"
              pTooltip="Was {{ widget.comparisonValues[2] | currency }}"
              tooltipPosition="top"
              *ngIf="!isLoading && widget.comparisonValues && widget.comparisonValues[2]"
              class="datawell-data-comparison float-right"
              [params]="{
                value: widget.values[2],
                comparison: widget.comparisonValues[2],
                currencyCode: widget.currencyCode,
                pcOnly: true,
              }"
            ></jhi-delta-value>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="widget.dataTypeSpecs && widget.dataTypeSpecs.length > 3">
      <div class="row">
        <div class="db-panel-minor-title" *ngIf="widget.dataTypeSpecs[3] && widget.dataTypeSpecs[3].title">
          {{ widget.dataTypeSpecs[3].title }}
        </div>
      </div>
      <div class="row">
        <div class="float-right">
          <div *ngIf="isLoading || !widget.values" class="db-panel-minor-value">
            <p-skeleton height="12px"></p-skeleton>
          </div>
          <div *ngIf="!isLoading && widget.values" class="float-right db-panel-minor-value">
            {{ widget.values[3] | currency: defaultCurrencyCode : 'symbol-narrow' : '0.0' }}
            &nbsp;
            <jhi-delta-value
              style="font-size: 8px !important"
              pTooltip="Was {{ widget.comparisonValues[3] | currency }}"
              tooltipPosition="top"
              *ngIf="!isLoading && widget.comparisonValues && widget.comparisonValues[3]"
              class="datawell-data-comparison float-right"
              [params]="{
                value: widget.values[3],
                comparison: widget.comparisonValues[3],
                currencyCode: widget.currencyCode,
                pcOnly: true,
              }"
            ></jhi-delta-value>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="widget.dataTypeSpecs && widget.dataTypeSpecs.length > 4">
      <div class="row">
        <div class="db-panel-minor-title" *ngIf="widget.dataTypeSpecs[4] && widget.dataTypeSpecs[4].title">
          {{ widget.dataTypeSpecs[4].title }}
        </div>
      </div>
      <div class="row">
        <div class="float-right">
          <div *ngIf="isLoading || !widget.values" class="db-panel-minor-value">
            <p-skeleton height="12px"></p-skeleton>
          </div>
          <div *ngIf="!isLoading && widget.values" class="float-right db-panel-minor-value">
            {{ widget.values[4] | currency: defaultCurrencyCode : 'symbol-narrow' : '0.0' }}
            &nbsp;
            <jhi-delta-value
              style="font-size: 8px !important"
              pTooltip="Was {{ widget.comparisonValues[4] | currency }}"
              tooltipPosition="top"
              *ngIf="!isLoading && widget.comparisonValues && widget.comparisonValues[4]"
              class="datawell-data-comparison float-right"
              [params]="{
                value: widget.values[4],
                comparison: widget.comparisonValues[4],
                currencyCode: widget.currencyCode,
                pcOnly: true,
              }"
            ></jhi-delta-value>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngFor="let dataTypeSpec in widget.dataTypeSpecs">
            {{dataTypeSpec.title}} 
             <div *ngIf="i != 0">
                <div *ngIf="dataTypeSpec.title">
                    <div class="row">
                        <div class="db-panel-minor-title">{{i}} - {{dataTypeSpec.title}}</div>
                    </div>
                    <div class="row ">
                        <div class="float-right ">
                            <div class="float-right db-panel-minor-value">{{widget.values[i]|currency:defaultCurrencyCode:'symbol-narrow':"0.0"}}</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>-->
  </div>
</div>
