<div class="nav-pane-button" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
  <button routerLink="/finance/dashboard">
    <div class="selectionPill"></div>
    <!-- <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard_outline</mat-icon>-->
    <fa-icon icon="home"></fa-icon>
    <span class="nav-pane-button-name">Dashboard</span>
  </button>
</div>
<div class="nav-pane-button" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
  <button routerLink="/finance/account-list">
    <div class="selectionPill"></div>
    <!-- <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard_outline</mat-icon>-->
    <fa-icon icon="th-list"></fa-icon>
    <span class="nav-pane-button-name">Wealth Overview</span>
  </button>
</div>
<div class="nav-pane-button" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
  <button routerLink="/finance/transactions">
    <div class="selectionPill"></div>
    <!-- <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard_outline</mat-icon>-->
    <fa-icon icon="book"></fa-icon>
    <span class="nav-pane-button-name">Transactions</span>
  </button>
</div>
<div class="nav-pane-button" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
  <button routerLink="/finance/portfolio">
    <div class="selectionPill"></div>
    <!-- <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard_outline</mat-icon>-->
    <fa-icon icon="arrow-trend-up"></fa-icon>
    <span class="nav-pane-button-name">Investments</span>
  </button>
</div>

<div class="nav-pane-button" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
  <button routerLink="/finance/planner">
    <div class="selectionPill"></div>
    <!-- <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard_outline</mat-icon>-->
    <fa-icon icon="road"></fa-icon>
    <span class="nav-pane-button-name">Planner</span>
  </button>
</div>
