@use 'sass:math';
@import '../../content/scss/style-variables';

/** Login **/

$gutter: 16px;
$AppLogin-padding-small: $gutter;
//STANDARD below but only one column in DEV
//$AppLogin-height-small: 550px;
// $AppLogin-padding-large: $gutter * 2;
// $AppLogin-height-large: 500px;
// $AppLoginMain-container-width-large: 960px - $AppLogin-padding-large * 2;
// $AppLoginMain-left-width-large: math.div($AppLoginMain-container-width-large, 2);
// $AppLoginMain-right-width-large: math.div($AppLoginMain-container-width-large, 2);
$AppLogin-padding-large: $gutter;
$AppLogin-height-large: 500px;
$AppLogin-height-small: 500px;
$AppLoginMain-container-width-large: 375px - $AppLogin-padding-large * 2;
$AppLoginMain-left-width-large: 0px;
$AppLoginMain-right-width-large: $AppLoginMain-container-width-large, 1;
$AppLoginMain-container-width-small: 375px - $AppLogin-padding-small * 2;
$AppLoginMain-left-width-small: 0px;
$AppLoginMain-right-width-small: $AppLoginMain-container-width-small - $AppLoginMain-left-width-small;
$login-form-height: 44px;
$login-form-bottom-margin: $gutter;
$login-terms-field-width: 300px;
$login-terms-field-width: 300px;
$login-form-height: 44px;
$login-form-bottom-margin: $gutter;

.AppLoginContainer {
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f6f6f6;
}

.AppLoginContainer-light {
  background-color: var(--ps-colors-background-light-1);
  color: var(--ps-colors-text-icon-high-on-light);
}

.AppLoginContainer-dark {
  background-color: var(--ps-colors-background-dark-1);
  color: var(--ps-colors-text-icon-high-on-dark);
}

.AppLogin {
  padding: $AppLogin-padding-small;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .AppLogin {
    padding: $AppLogin-padding-large;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.AppLoginMain {
  width: $AppLoginMain-container-width-small;
  height: $AppLogin-height-small;
  position: relative;
  margin-top: -0.5rem;

  /* border: thin solid #f2f2f2; */
  border: 1px solid var(--ps-colors-border-low-on-dark);
  border-radius: 0.2em;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.AppLoginMain-light {
  background-color: var(--ps-colors-background-light-2);
}

.AppLoginMain-dark {
  background-color: var(--ps-colors-background-dark-2);
}

@media only screen and (min-width: 1024px) {
  .AppLoginMain {
    width: $AppLoginMain-container-width-large;
    height: $AppLogin-height-large;
  }
}

.AppLoginMain__section {
  top: $AppLogin-padding-small;
  height: calc(100% - 64px);
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  .AppLoginMain__section {
    top: $AppLogin-padding-large;
    height: calc(100% - 64px);
    position: absolute;
  }
}

.AppLoginMain__section--slideshow {
  width: $AppLoginMain-left-width-small;
  padding-left: $AppLogin-padding-small;
  padding-right: $AppLogin-padding-small;
}

@media only screen and (min-width: 1024px) {
  .AppLoginMain__section--slideshow {
    width: $AppLoginMain-left-width-large;
    padding-left: $AppLogin-padding-large;
    padding-right: $AppLogin-padding-large;
  }
}

.AppLoginMain__section--login {
  left: $AppLoginMain-left-width-small;
  width: $AppLoginMain-right-width-small;
  padding-left: $AppLogin-padding-small;
  padding-right: $AppLogin-padding-small;
}

@media only screen and (min-width: 1024px) {
  .AppLoginMain__section--login {
    left: $AppLoginMain-left-width-large;
    width: $AppLoginMain-right-width-large;
    padding-left: $AppLogin-padding-large;
    padding-right: $AppLogin-padding-large;
  }
}

.AppLoginMain__section--separator {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .AppLoginMain__section--separator {
    left: math.div($AppLoginMain-container-width-large, 2);
    border-right: thin solid #e7e7e7;
    display: block;
  }
}

.AppLoginMainTabHeader__titleContainer {
  text-align: center;
  flex: 1 1;
}

.AppLoginMainTabMain__signInTitle {
  margin-bottom: $gutter;
  font-size: var(--ps-type-font-size-600);
  font-weight: 600;
  text-align: center;
}

.AppLoginSlideshow__tabSelectionButtonStrip {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

.AppLoginSlideshow__tabSelectionButton {
  height: 9px;
  width: 9px;
  padding: 0;
  margin: 0 0 0 6px;
  border: none;
  border-radius: 50%;
  background-color: #e4e4e4;
}

.AppLoginSlideshow__tabSelectionButton--selected {
  background-color: #898989;
}

.AppLoginSlideshow__tabSelectionButton:focus {
  background-color: #0080ff;
}

.AppLoginSlideshow__slide__heading {
  margin-bottom: math.div($gutter, 2);
}

.AppLoginSlideshow__slide__heading {
  font-size: var(--ps-type-font-size-900);
  font-weight: var(--ps-type-font-weight-600);
}

.AppLoginSlideshow__slide__image {
  display: inline-block;
  vertical-align: middle;
}

.AppLoginCenteredLogo {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .AppLoginCenteredLogo {
    display: block;
    top: 0;
    height: 100%;
    position: absolute;
    text-align: center;
  }
}

.AppLoginCenteredLogo:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.AppLoginCenteredLogoTop {
  // margin-left: auto;
  margin-right: auto;
  margin-bottom: $gutter;
  margin-left: auto;
  //margin-top: -18px;
}

@media only screen and (min-width: 1024px) {
  .AppLoginCenteredLogoTop {
    display: none;
  }
}

.AppLoginCenteredLogoTop:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.AppLoginMainTabMain__aligner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 24px;
}

.AppLoginMainTabMain__loginButtonsContainer {
  display: flex;
  flex-direction: column;
  margin-left: $gutter/2;
  margin-right: $gutter/2;
  /* align-items: center; */
}

.AppLoginMainTabMain__loginEmailHeader {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.TextField--login {
  height: $login-form-height;
  margin-bottom: $gutter;
  margin-left: $gutter/2;
  margin-right: $gutter/2;
  background-color: white;
}

.TextField__input--login {
  font-weight: var(--app-font-weight-base);
  font-size: var(--app-font-weight-base);
}

.AppLoginMain__emailIconButton:disabled {
  color: var(--app-colours-action-disabled-light);
}

.AppLoginContainer-dark .AppLoginMain__emailIconButton {
  color: var(--app-colours-primary-action-background-dark);
}

.AppLoginContainer-light .AppLoginMain__emailIconButton {
  color: var(--app-colours-primary-action-background-light);
}

.AppLoginMain__emailIconButton {
  display: flex;
  // color: var(--app-colours-primary-action-text-light);
  border: none;
  background-color: transparent;
  padding: 0;
}

.AppLoginMain__emailIconButton:disabled {
  color: var(--app-colours-action-disabled-light) !important;
}

.AppLoginMain__emailIconButton:active,
.AppLoginMain__emailIconButton:focus,
.AppLoginMain__emailIconButton:hover {
  color: --var(--app-colours-primary-action-text-hover-light);
}

.AppLoginMain__checkmarkIcon {
  color: --var(--app-colours-primary-action-text-light);
}

.AppLoginMain__errorText {
  font-size: var(--app-font-size-small);
  text-align: center;
  color: var(--app-colours-status-error);
}

.AppLoginMainTabMain__bottomContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppLoginMainTabMain__terms {
  font-size: var(--app-font-size-xs);
  color: var(--app-colours-secondary-text-light);
  text-align: center;
  max-width: $login-terms-field-width;
}

.AppLoginMainTabMain__terms-dark {
  color: var(--app-colours-secondary-text-dark);
}

.AppLoginMainTabMain__terms-light {
  color: var(--app-colours-secondary-text-light);
}

.AppLoginMainTabMain__terms__link {
  font-weight: var(--ps-type-font-weight-strong);
  color: var(--app-colours-status-info); /*$text-secondary-1-color;*/
}

.Button {
  border-radius: 3px;
  border: 0;
  white-space: nowrap;
  border-style: none;
}

.Button--login:disabled {
  // background-color: var( --app-colours-status-info);
  // border-color: var( --app-colours-status-info);
  // opacity: 1;
}

.Button--login {
  width: calc(100% - 16px);
  height: $login-form-height;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: $gutter;
  display: block;
}

.Button--login,
.Button--primary {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: var(--app-colours-primary-action-background-light);
  background-color: var(--app-colours-primary-action-background-light);
  color: var(--app-colours-primary-text-dark);
  //color: inherit;
}

.AppLoginMainTabHeader {
  // color: var(--app-colours-primary-action-text-light);
  display: flex;
}

.AppLoginMainTabHeader__titleContainer {
  text-align: center;
  flex: 1 1;
}

.AppLoginMainTabHeader__title {
  font-weight: var(--app-font-weight-light);
  font-size: var(--app-font-size-h3);
  margin-bottom: 16px;
  animation-fill-mode: both;
}

.AppLoginMainTabHeader__backButton {
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
  color: var(--app-colours-primary-action-text-light);
}
.AppLoginMainTabHeader__backButtonSize {
  width: 20px;
}

@keyframes ani-AppLoginForgotPassword__status-in {
  0% {
    opacity: 0;
  }
}

.AppLoginExistingUser__forgotPasswordButton {
  width: 100%;
  display: block;
  margin-bottom: $gutter;
  color: inherit;
  line-height: $login-form-height - $gutter;
  border: none;
  background-image: none;
  background-color: transparent;
}

$animation-speed-very-slow: 1000ms;

.AppLoginForgotPassword__status {
  font-size: var(--app-font-size-small);
  text-align: center;
  animation: ani-AppLoginForgotPassword__status-in $animation-speed-very-slow;
  animation-fill-mode: forwards;
}

.AppLoginForgotPassword__status--success {
  margin-top: $gutter;
  color: var(--app-colours-primary-action-text-light);
}
/** Login END **/

/** Login Modal **/

#forgot-password {
  padding-top: 6px;
  padding-left: 0px;
  color: gray;
}

.login-section-label {
  vertical-align: middle;
  padding-bottom: 12px;
}

/* Login modal end. */

/* Custom Global elements */
.TextField {
  padding: 0 $TextField-padding-h;
  margin-bottom: $gutter/2;
  display: flex;
  align-items: center;
  border-radius: $TextField-border-radius;
  transition: box-shadow $animation-speed-focus-ring;
}

.TextField-light {
  background-color: var(--app-colours-field-background-light);
  border: thin solid var(--app-colours-border-high-light);
  color: var(--app-colours-field-text-light);
  font-size: var(--app-font-size-h3);
  caret-color: var(--app-colours-primary-action-text-light);
}

.TextField-dark {
  background-color: var(--app-colours-field-background-dark);
  border: thin solid var(--app-colours-border-high-dark);
  color: var(--app-colours-field-text-dark);
  font-size: var(--app-font-size-h3);
  caret-color: var(--app-colours-primary-action-text-dark);
}

.TextField__input-light {
  color: inherit;
}

.TextField__input-dark {
  color: var(--app-colours-field-text-dark);
}

.TextField__input {
  width: 100%;
  padding: 0;
  margin: $TextField-padding-v 0;
  flex: 1 1;
  background: none;
  border: none;
  color: inherit;
  font-size: var(--app-font-size-h3);
}

.Compressable {
  overflow: hidden;
  transition: max-height 0.5s ease-out; // note that we're transitioning max-height, not height!
  height: auto;
  max-height: 200px;
}

.ZeroHeight {
  max-height: 0;
}

.TabsReplacerContainer--isFullHeight,
.TabsReplacerContainer__tabs--isFullHeight,
.TabsReplacerContainer__tabsHeight--isFullHeight {
  height: 100%;
}

.TabsReplacerContainer {
  overflow: hidden;
}

.TabsTab--fullHeight {
  height: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.TextField--focus {
  box-shadow: 0 0 0 3px var(--app-colours-primary);
  //box-shadow: $box-shadow-focus-ring-size;
  // color: var(--app-colours-primary-action-text-light);
}

.TextField__input:focus {
  outline: none;
}

.Button--disabled,
.Button:disabled,
.Button[disabled] {
  opacity: $disabled-opacity;
  pointer-events: none;
  cursor: not-allowed;
}

.TextField-dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--app-colours-field-background-dark) inset;
  border: 0px solid var(--app-colours-field-background-dark);
  -webkit-text-fill-color: var(--app-colours-field-text-dark);
}

.TextField-light input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--app-colours-field-background-light) inset;
  // border: 0px solid var(--app-colours-field-background-dark);
  // -webkit-text-fill-color: var(--app-colours-field-text-light);
}
/** Custom Globals End */
